// Шрифт для заголовков h1 и h2
$header-font-stack: 'Playfair Display', serif;

// Основной шрифт (абзацы, ссылки)
$basic-font-stack: 'Mulish', sans-serif;

// Дополнительный шрифт (все остальное)
$second-font-stack: 'Inter', sans-serif;

// Основные цвета
$basic-color: #ffffff;

$basic-color-second: #000000;

// Цвет заголовков в хедере
$header-text-color: #202336;

// Цвет пунктов меню
$menu-text-color: #b8becd;

// Цвет основного текста
$basic-text-color: #7d7987;

// Цвет текста в футере
$footer-text-color: #848484;

// Цвет кнопок
$button-color: #fb8f1d;

// Цвет элементов формы выбора
$form-color: #afb0b9;

// Цвет текста в полях форм
$form-text-color: #4a4c53;

// Ширина контейнера
$max-width: 1320px;
