.button {
	display: block;
	width: 10.25em;
	font-family: $second-font-stack;
	font-size: 1rem;
	font-weight: 600;
	line-height: 2.875;
	color: $basic-color;
	text-align: center;
	background: $button-color;
	border: 1px solid $button-color;
	border-radius: 8px;
	&_header {
		width: 8.8em;
		font-family: $second-font-stack;
		font-size: 0.9375rem;
		font-weight: 500;
	}
	&_white {
		background: $basic-color;
		color: $button-color;
	}
	&_submit {
		display: block;
		width: 10.588em;
		font-size: 1.063rem;
		font-weight: 700;
		line-height: 2.823;
		cursor: pointer;
	}
}
