.explore {
	padding: 23.875em 0 6.9375em;
	background: url(../img/explore/explore.png) 0 286px no-repeat;
	&__wrapper {
		width: 28.125em;
		margin: 0 6.75em 0 auto;
	}
	&__descr {
		margin-top: 1.176em;
		margin-bottom: 1.9412em;
	}
}
