.explore {
	padding: 23.875em 0 6.9375em;
	background: url(../img/explore/explore.png) calc(50vw - 100%) 286px no-repeat;
	&__wrapper {
		position: relative;
		width: 28.125em;
		margin: 0 6.75em 0 auto;
		&::before {
			@include decor_cross;
			transform: rotate(7.49deg);
			top: -110px;
			left: -54px;
		}
		&::after {
			@include decor_circle;
			top: 256px;
			left: 327px;
		}
	}
	&__descr {
		margin-top: 1.176em;
		margin-bottom: 1.9412em;
	}
}
