.guides {
	padding: 10.8125em 0 5.4375em;
	background: url(../img/guides/guides-1x.png) calc(50vw - 5%) 10.8125em no-repeat;
	&__wrapper {
		position: relative;
		margin: 9.5em 0 0 6.25em;
		max-width: 28.125em;
	}
	&__title {
		margin-bottom: 0.56em;
		position: relative;
		&::before {
			@include decor_circle;
			top: -67px;
			left: 45px;
		}
	}
	&__descr {
		margin-bottom: 2.29em;
		&::before {
			@include decor_cross;
			left: 430px;
			top: 275px;
			transform: rotate(20.42deg);
		}
		&::after {
			@include decor_cross;
			top: -120px;
			left: 1150px;
			transform: rotate(7.5deg);
		}
	}
}
