.testimonials {
	padding-top: 15.5em;
	&__title {
		margin-left: 2.778em;
	}
	&__slider {
		max-width: 71em;
		margin-top: 2.6875em;
	}
	&__wrap {
		margin-left: 6.25em;
		width: 450px;
	}
	&__text {
		font-size: 1.5rem;
		line-height: 1.5;
		color: #000000;
	}
	&__autor {
		font-family: Inter;
		font-weight: bold;
		font-size: 1.375rem;
		line-height: 2.18;
		color: #000000;
		margin-top: 1.818em;
	}
	&__descr {
		font-family: Inter;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.4;
		color: rgba(0, 0, 0, 0.85);
	}
}
