.testimonials {
	padding-top: 15.5em;
	&__title {
		margin-left: 2.778em;
	}
	&__slider {
		max-width: 71em;
		margin-top: 2.6875em;
		position: relative;
		// Подложка для кнопок переключения
		&::before {
			content: '';
			position: absolute;
			width: 132px;
			height: 60px;
			background-color: $basic-color;
			border-radius: 16px 0px 0px 0px;
			top: 447px;
			right: 16px;
			z-index: 1;
		}
		&::after {
			@include decor_circle;
			left: -22px;
			top: 210px;
		}
	}

	// Отдельный слайд
	&__slider-frame {
		display: flex !important;
		justify-content: space-between;
	}
	&__wrap {
		margin-left: 6.25em;
		width: 450px;
		align-self: center;
	}
	&__rating {
		img {
			display: inline-block;
			margin-right: 16px;
		}
	}
	&__text {
		margin-top: 30px;
		font-size: 1.5rem;
		line-height: 1.5;
		color: #000000;
	}
	&__autor {
		font-family: $second-font-stack;
		font-weight: bold;
		font-size: 1.375rem;
		line-height: 2.18;
		color: #000000;
		margin-top: 1.818em;
	}
	&__descr {
		font-family: $second-font-stack;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.4;
		color: rgba(0, 0, 0, 0.85);
	}
	&__photo {
		position: relative;
		padding: 16px;
		img {
			width: 384px;
			height: 491px;
			object-fit: cover;
			border-radius: 16px;
		}
		&::before {
			content: '';
			width: 42px;
			height: 42px;
			position: absolute;
			background-image: url(../icons/decor/circle-vb.png);
			top: 0;
			right: 0;
			z-index: -1;
		}
		&::after {
			content: '';
			width: 37px;
			height: 37px;
			position: absolute;
			background-image: url(../icons/decor/cross-b.svg);
			top: 486px;
			left: 0;
		}
	}

	// Кнопки переключения
	.slick-prev,
	.slick-next {
		position: absolute;
		width: 40px;
		height: 40px;
		font-size: 0px;
		line-height: 0;
		background-color: transparent;
		border: 2px solid $basic-color-second;
		border-radius: 50%;
		opacity: 0.75;
		top: 466px;
		z-index: 2;
		cursor: pointer;
		&:hover,
		&:focus {
			opacity: 1;
		}
		&.slick-disabled {
			opacity: 0.25;
		}
		&::before {
			content: '';
			position: absolute;
			width: 9px;
			height: 9px;
			top: 14px;
		}
	}

	.slick-prev {
		right: 80px;
		&::before {
			border-left: 2px solid $basic-color-second;
			border-bottom: 2px solid $basic-color-second;
			transform: rotate(45deg);
			right: 12px;
		}
	}

	.slick-next {
		right: 15px;
		&::before {
			border-right: 2px solid $basic-color-second;
			border-bottom: 2px solid $basic-color-second;
			transform: rotate(-45deg);
			right: 14px;
		}
	}
}
